<form>
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome">
      </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" placeholder="exemplo@email.com">
      <div id="emailHelp" class="form-text">Não iremos compartilhar seu email com ninguém.</div>
    </div>
   
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>