<div class="m-3">
    <div class="custom-file m-3">
        <label for="formFile" class="form-label" id="customFileLabel">Selecionar arquivo</label>
        <input class="form-control" type="file" id="customFile" (change)="onChange($event)" multiple>
    </div>
    <div class="progress m-3" role="progressbar" aria-label="Example with label">
        <div class="progress-bar" [style.width]="progress + '%'">{{ progress }}%</div>
    </div>
</div>
<div style="margin-left:32px">
    <button type="button" class="btn btn-primary" (click)="onUpload()" [disabled]="!files">Upload</button>
</div>

<div style="margin-left:32px">
    <button style="margin-right:5px; margin-top: 10px;" type="button" class="btn btn-primary" (click)="onDownloadExcel()">Download Excel</button>
    <button style="margin-top: 10px;"type="button" class="btn btn-primary" (click)="onDownloadPDF()">Download PDF</button>
</div>
